/*
.App {
  text-align: center;
}

nav{
  background-color: rgb(24, 24, 154);
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
}

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
}

body{
  padding-top: 50px;
}
*/